<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Healty - คำนวณการรับพลังงานจากอาหาร</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="../static/css/mobile.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/desktop.css" media="(min-width: 992px)" />
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body class="conclusion">
        <main class="site-body">
            <header class="header">
                <div class="s-container">
                    <div class="logo">
                        <img src="../static/img/logo.svg" alt="logo">                            
                    </div>
                </div>
            </header>
            <div class="s-container">
                {% if session['name'] %}
                <h2 class="title-name">สรุปผลค่า BMI และการกินของคุณใน 1 วัน! <strong>{{session['name']}}</strong>!</h2>
                <div class="al"><span>**ใช้เป็นเพียง Guideline เบื้องต้นเท่านั้น การคำนวณต่างๆ เป็นเพียงค่าเฉลี่ยของร่างกาย ค่าผลลัพธ์ที่ได้เป็นค่าที่ได้จากการคำนวณจากสูตรทางคณิตศาสตร์ ควรยึดไว้เป็นกรอบไว้คร่าวๆเท่านั้น ระบบร่ายกายแต่ละคนมีความแตกต่างกันออกไป</span></div>
                <div class="nav">
                    <a href="{{url_for('logout')}}"><button class="custom-btn btn-11">กลับหน้าแรก</button></a>
                </div>
                <div class="card-bmi">
                    <div class="card-head"><h3>ผลสรุป</h3></div>
                        <div class="card-detail">
                            <div class="c-title"><p1>ตอนนี้ค่า BMI ของคุณอยู่ในเกณฑ์</p1><h3>{{session.bmi_status['status']}}</h3></div>
                            <div class="card-head">แคลอรี่ที่คุณได้รับในวันนี้</div>
                            <div class="c-title"><h4>{{session['sumcal']}} Kcal | Limit {{session['tdee_food']}}</h4></div>
                            <p>{{session['advice']}}</p>
                            <div class ="card-detail"><span>{{session['consult']['de']}}</span></div>
                        </div>
                </div>  
                {% endif %}
                <div class="space"></div>
            </div>    
        </main>
        <script type="text/javascript" src="../static/script.js"></script>
    </body>
</html>