<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Healty - คำนวณการรับพลังงานจากอาหาร</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="../static/css/mobile.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/desktop.css" media="(min-width: 992px)" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        <script src="../static/jquery.js"></script>
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body class="foods">
        <main class="site-body">
            <header class="header">
                <div class="s-container">
                    <div class="logo">
                        <img src="../static/img/logo.svg" alt="logo">                            
                    </div>
                </div>
            </header>
            <div class="s-container">
                <div class="al"><span>**ใช้เป็นเพียง Guideline เบื้องต้นเท่านั้น การคำนวณต่างๆ เป็นเพียงค่าเฉลี่ยของร่างกาย ระบบร่ายกายแต่ละคนมีความแตกต่างกันออกไป</span></div>
                <div class="nav">
                    <a href="{{url_for('logout')}}"><button class="custom-btn btn-11">กลับหน้าแรก</button></a>
                    <a href="{{url_for('advise')}}"><button class="custom-btn btn-13">ไปยังหน้าคำแนะนำ</button></a>
                </div>
                <div class="gridd">
                    <div class="pickfood-f">
                        <h2 class="title-p">เลือกอาหารที่คุณรับประทาน</h2>
                        <form action="{{url_for('foodscal')}}" method="post">
                            <select id="select-state" name="food" placeholder="เลือกอาหาร..." required>
                                {% for i in menu %}
                                <option value="{{i}}">{{menu[i]['name']}}</option>
                                {% endfor %}
                            </select> 
                                <input type="submit" name="submit" class="btn-main" value="ส่งข้อมูล">
                        </form>
                        <div class="or">
                            <span>หรือ</span>
                        </div>
                        <form action="{{url_for('foodscal')}}" method="post">
                            <input type="text" placeholder="ป้อนชื่ออาหาร" name="food" required>
                            <input type="number" placeholder="ป้อนพลังงาน (Kcal)" name="foodcal" required>
                            <input type="submit" name="submit" id="" value="ส่งข้อมูลกำหนดเอง" class="btn-main">
                        </form>
                    </div>
                    {% if session['foods'] %}
                    <div class="pickfood-f">
                        <h2 class="title-p">อาหารที่คุณรับประทาน</h2>
                        <p class="show-al">TDEE ของคุณ: {{session.tdee}}, BMI ของคุณอยู่ในเกณฑ์ {{session.bmi_status['status']}} คุณควรรับพลังงานประมาณ {{session.tdee_food}}/วัน เพื่อให้ร่างกายอยู่ในสภาวะสมดุล</p>
                        <div class="show-fbox">
                            <div class="show-foods">
                            {% for i in range(c) %}
                                <div class="s">{{session.foods[i]}}</div>
                                <div class="e">{{session.foodscal[i]}}</div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="totol">
                            <p>คุณทานไป {{session['sumcal']}} Kcal</p>
                            {% if cklimit >= 0 %}
                            <p>คุณสามารถทานได้อีก {{session['cllimit']}} Kcal</p>
                            {% endif %}
                            {% if cklimit < 0 %}
                            <p style="color:red ;">คุณทานอาหารเกินกำหนดแล้ว {{session['cllimit']}} Kcal</p>
                            {% endif %}
                        </div>
                        <form action="{{url_for('foodscal')}}" method="post">
                            <input type="submit" name="submit" value="ลบข้อมูลล่าสุด">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div> 
            <div class="space"></div>
        </main>
        <script type="text/javascript" src="../static/script.js"></script>
    </body>
</html>