<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ทดสอบส่งข้อมูล Test</title>
</head>
<body>

        ttt
        <form action="{{url_for('testsm')}}" method="post">
            <input type="text" name="testinput" id="">
            <input type="submit" name="submit" id="" value="ส">
        </form>
    
    <form action="{{url_for('testsm')}}" method="post">
        <input type="text" name="sum" id="">
        <input type="submit" name="submit" value="สส">
    </form>

    
    {% if ttt %}
    {{ttt}}
    {% endif %}

</body>
</html>