// out: ../mobile.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

@import "variables";
@import "begin";
@import "fonts";

body {
    background-color: #e5e5e7;
}

.site-body {
    position: relative;
    background-image: url(https://cdn.artijo.com/img/bmi_project/BG_nt_mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    body.foods & {
        background-image: url(https://cdn.artijo.com/img/bmi_project/bg_food_nb.png);
        min-height: 100vh;
    }
    body.conclusion & {
        background-image: url(https://cdn.artijo.com/img/bmi_project/bg_food_nb.png);
        min-height: 100vh;
    }
    body.result & {
        background-image: url(https://cdn.artijo.com/img/bmi_project/rs-bg.svg);
    }
}
p {
    font-size: 14px;
}
b,
strong {
    font-weight: 700;
}
.btn-main,
.btn-alt {
    border-radius: 40px;
    min-width: 80px;
    display: inline-block;
    padding: 8px 20px;
    color: #fff;
    font-weight: $heading-font-weight;
    &:hover {
        color: #fff;
        transform: translate(0, -3px);
        background-position: 0 -22px;
    }
    &:active {
        transform: scale(0.94);
        box-shadow: none;
    }
}
.btn-main {
    background: rgb(32, 142, 112);
    background: linear-gradient(145deg, rgb(35, 156, 124) 0%, $green 100%);
}

.btn-alt {
    background: rgb(32, 142, 112);
    background: linear-gradient(145deg, #925b08 0%, $brown 100%);
    &.logout {
        background: #c9184a;
        &.food {
            display: block;
            margin: auto;
            margin-bottom: 10px;
            a {
                color: #fff;
            }
            
        }
    }
}
.s-container {
    padding: 0 16px;
}


._mobile {
    display: none;
}
.space {
    height: 50px;
}
//Add More.

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    img {
        height: 70px;
    }
}

.h-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    opacity: 0.7;
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    &:hover {
        opacity: 1;
    }
    .input-form {
        display: flex;
        flex-flow: column;
        margin: auto;

        label {
            font-size: 0.9rem;
        }
        input {
            width: -webkit-fill-available;
            height: 50px;
        }
        select {
            height: 45px;
        }
        .btn-main {
            margin: auto;
            margin-top: 12px;
            width: max-content;
        }
    }
}

.title-name {
    text-align: center;
}

.bmi-box {
    display: flex;
    margin: auto;
    max-width: 20rem;
    .bmi-head {
        text-align: center;
        font-size: 1.7em;
    }
    .bmi-ct {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 5px;
    }
}

.newcal {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}

.input-gender {
    display: flex;
    gap: 25px;
    height: 100px;
    width: 206px;
    align-items: center;
    margin-top: -25px;
}

.pickfood-f {
    background-color: #fff;
    max-width: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 10px;
    .show-al {
        font-size: 12px;
    }
    .title-p {
        text-align: center;
        font-size: 24px;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        gap: 10px;
        font-family: $heading-font;
        font-weight: $heading-font-weight;
        line-height: $heading-line-height;
        select {
            min-width: 220px;
        }
        input {
            width: 220px;
        }
        .btn-main {
            width: min-content;
        }
    }
    .show-fbox{
        max-width: 350px;
        width: -webkit-fill-available;
        margin: auto;
        padding: 20px;
        .show-foods{
            display: grid;
            grid-template-columns: auto auto;
            
            .s{

            }
            .e{
                text-align: end;
            }
        }
    }
    .totol{
        display: flex;
        justify-content: space-between;
    }
    .or {
        margin: auto;
        background-color: bisque;
        border-radius: 50%;
        font-size: 1.2rem;
        padding: 10px;
        width: fit-content;
    }
}


.card-bmi {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #bee9e8;
    max-width: 26rem;
    width: -webkit-fill-available;
    border-radius: 15px;
    .card-head {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        font-size: 20px;
        border-bottom: 1px solid;
        border-color: #000;

    }
    .card-detail {
        position: relative;
        padding: 0.5rem 1rem;
        background-color: #fff;
        .c-title {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: baseline;
        }
        .c-detail {

        }
    }
}

.al {
    background-color: #ff9b85;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        padding: 10px;
    }
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
    a {
        color: #fff;
    }
}
.s-dt {
    background-color: #fff;
    padding: 16px;
    margin-top: 16px;
    border-radius: 10px;
}
details {
    width: -webkit-fill-available;
    margin: 0 auto ;
    background: #d8f3dc;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 5px;
    overflow: hidden;
    summary {
        padding: 1rem;
        display: block;
        background: #184e77;
        color: #fff;
        padding-left: 2.2rem;
        position: relative;
        cursor: pointer;
        &::before{
            content: '';
            border-width: .4rem;
            border-style: solid;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            top: 1.3rem;
            left: 1rem;
            transform: rotate(0);
            transform-origin: .2rem 50%;
            transition: .25s transform ease;
        }
      }
      .cot {
        margin: 16px;
      }
  }
  /* THE MAGIC 🧙‍♀️ */
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  
  details summary::-webkit-details-marker {
    display:none;
  }
  details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }